.cover__link {
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: background-color .05s linear;
  cursor: pointer;
}

.cover__link:hover {
  background-color: rgba(0, 0, 0, .8);
}
