.page {
  background: #2A2C2F;
  font-family: 'Inter', 'Arial', 'Georgia', 'Tahoma', sans-serif;
  color: #fff;
  padding: 28px 0 24px;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
