.photo-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  box-sizing: border-box;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0 16px;
    gap: 12px;
  }
}
